<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 p-2">
  <!-- Create a div to display job with apply and  contacts button-->
  <script>
    var jobs = "<%= JSON.stringify(jobs) %>".replaceAll('&#34;', '"').replace(/\\/g, '');
    index = "<%= index %>";
    jobs = JSON.parse(jobs);
  </script>
  <div class="job-card" id="jobcard<%= index %>">
    <div class="d-flex w-100 align-content-center">
      <div class="img-wrapper">
        <img
          src="https://static.boredpanda.com/blog/wp-content/uploads/2011/10/pod0042-apple-logo-steve-jobs-silhouette.jpg"
          alt="Avatar" />
      </div>
      <div class="job-details">
        <h5 class="p-0 m-0">
          <%= jobs[index].company.name.slice(0,25) + (jobs[index].company.name.length> 25 ? "...": "") %>
        </h5>
        <div class="p-0 m-0">
          <i class="fas fa-map-marker-alt p-0"></i>
          <span>
            <%= jobs[index].location %>
          </span>
          <div class="empty-el"></div>
          <div class="job-date">
            <p class="p-0 m-0">2 days ago</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-100 p-1 align-content-center">
      <h2 class="job-title" style="word-wrap: break-word">
        <%= jobs[index].role %>
      </h2>
    </div>
    <div class="d-flex w-100 p-1 align-content-center">
      <div class="job-date">
        <p class="p-0 m-0">
          <%= jobs[index].salary %>
        </p>
      </div>
    </div>
    <div class="d-flex w-100 p-1 align-content-center flex-wrap">
      <!-- create bootstrap badges -->
      <% if (jobs[index].type==='Full Time' ) { %>
        <div class="badge-wrapper">
          <div class="badge badge-pill job-badge">Full Time</div>
        </div>
        <% } else { %>
          <div class="badge-wrapper">
            <div class="badge badge-pill job-badge">Part Time</div>
          </div>
          <% } %>
            <% if (jobs[index].type==='Internship' ) { %>
              <div class="badge-wrapper">
                <div class="badge badge-pill job-badge">Internship</div>
              </div>
              <% } %>
                <% if (jobs[index].remote===true) { %>
                  <div class="badge-wrapper">
                    <div class="badge badge-pill job-badge">Remote</div>
                  </div>
                  <% } %>
                    <% for (let i=0; i < jobs[index].req_skills.length; i++) { %>
                      <div class="badge-wrapper">
                        <div class="badge badge-pill job-badge">
                          <%= jobs[index].req_skills[i] %>
                        </div>
                      </div>
                      <% } %>
    </div>

    <div class="d-flex w-100 p-1 align-content-center flex-wrap">
      <div class="job-description">
        <p class="p-1 m-0" style="word-wrap: break-word">
          <%= jobs[index].description %>
        </p>
      </div>
    </div>
    <div class="empty-el"></div>
    <div class="d-flex w-100 p-1 align-content-center flex-wrap">
      <% if(buttonflag){%>
        <div class="job-buttons">
          <button class="job-apply" data-bs-toggle="modal" data-bs-target="#card<%= index %>">Apply</button>
        </div>
        <div class="job-buttons">
          <button class="job-contacts">Contact</button>
        </div>
        <% }else{ %>
          <div class="job-buttons text-center">
            <button class="job-contacts" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample">Contact</button>
          </div>
          <% } %>


            <script>
              function handleApply(event) {
                event.preventDefault();
                let i = event.target.id
                console.log(jobs[i])
                fetch('/apply-job', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(jobs[i])
                }).then(res => res.json()).then(data => {
                  console.log(data);
                });
                event.target.reset();
                window.location.reload();
              }
            </script>

    </div>
  </div>
  <% if (!buttonflag) { %>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <img src="<%= jobs[index].company.logo%>" alt="">
        <h5 class="offcanvas-title" id="of  fcanvasExampleLabel">
          <%= jobs[index].company.name %>
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="container">
          <div class="row">
            <%= jobs[index].company.description%>
          </div>
          <div class="row">
            <a href="<%=jobs[index].company.website%>"></a>
          </div>
          <div class="row">
            <%= jobs[index].role%>
          </div>
          <div class="row">
            <%= jobs[index].description%>
          </div>
          <div class="row">
            <%=jobs[index].type%>
          </div>
          <div class="row">
            <%= jobs[index].salary%>
          </div>
          <div class="row">
            <%= jobs[index].location%>
          </div>
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <% } %>

      <div class="modal fade" id="card<%= index %>" tabindex="-1" aria-labelledby="<%= index %>label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Vertically centered scrollable modal -->
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="job-card">
                <div class="d-flex w-100 align-content-center">
                  <div class="img-wrapper">
                    <img
                      src="https://static.boredpanda.com/blog/wp-content/uploads/2011/10/pod0042-apple-logo-steve-jobs-silhouette.jpg"
                      alt="Avatar" />
                  </div>
                  <div class="job-details">
                    <h5 class="p-0 m-0">
                      <%= jobs[index].company.name.slice(0,25) + (jobs[index].company.name.length> 25 ? "...": "") %>
                    </h5>
                    <div class="p-0 m-0">
                      <i class="fas fa-map-marker-alt p-0"></i>
                      <span>
                        <%= jobs[index].location %>
                      </span>
                      <div class="empty-el"></div>
                      <div class="job-date">
                        <p class="p-0 m-0">2 days ago</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex w-100 p-1 align-content-center">
                  <h2 class="job-title" style="word-wrap: break-word">
                    <%= jobs[index].role %>
                  </h2>
                </div>
                <div class="d-flex w-100 p-1 align-content-center">
                  <div class="job-date">
                    <p class="p-0 m-0">
                      <%= jobs[index].salary %>
                    </p>
                  </div>
                </div>
                <div class="d-flex w-100 p-1 align-content-center flex-wrap">
                  <!-- create bootstrap badges -->
                  <% if (jobs[index].type==='Full Time' ) { %>
                    <div class="badge-wrapper">
                      <div class="badge badge-pill job-badge">Full Time</div>
                    </div>
                    <% } else { %>
                      <div class="badge-wrapper">
                        <div class="badge badge-pill job-badge">Part Time</div>
                      </div>
                      <% } %>
                        <% if (jobs[index].type==='Internship' ) { %>
                          <div class="badge-wrapper">
                            <div class="badge badge-pill job-badge">Internship</div>
                          </div>
                          <% } %>
                            <% if (jobs[index].remote===true) { %>
                              <div class="badge-wrapper">
                                <div class="badge badge-pill job-badge">Remote</div>
                              </div>
                              <% } %>
                                <% for (let i=0; i < jobs[index].req_skills.length; i++) { %>
                                  <div class="badge-wrapper">
                                    <div class="badge badge-pill job-badge">
                                      <%= jobs[index].req_skills[i] %>
                                    </div>
                                  </div>
                                  <% } %>
                </div>
                <div class="d-flex w-100 p-1 align-content-center flex-wrap">
                  <div class="job-description">
                    <p class="p-1 m-0" style="word-wrap: break-word">
                      <%= jobs[index].description %>
                    </p>
                  </div>
                </div>
                <div class="empty-el"></div>
                <div class="d-flex w-100 p-1 align-content-center flex-wrap">
                </div>
              </div>
            </div>
            <form id='<%= index %>' onsubmit="handleApply(event)">

              <div class="form-group text-area-box">
                <label for="comment">
                  <h5>Cover Letter </h5>
                </label>
                <textarea class="form-control form-box" rows="4" id="comment"></textarea>
              </div>

              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 p-2">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Apply</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>