<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 p-2">
  <!-- Create a div to display job with apply and  contacts button-->
  <div class="job-card">
    <div class="d-flex w-100 align-content-center">
      <div class="img-wrapper">
        <img
          src="https://static.boredpanda.com/blog/wp-content/uploads/2011/10/pod0042-apple-logo-steve-jobs-silhouette.jpg"
          alt="Avatar"
        />
      </div>
      <div class="job-details">
        <h5 class="p-0 m-0"><%= job.name.slice(0,25) + (job.name.length > 25 ? "...": "") %></h5>
        <div class="p-0 m-0">
          <i class="fas fa-map-marker-alt p-0"></i>
          <span><%= job.location %></span>
          <div class="empty-el"></div>
          <div class="job-date">
            <p class="p-0 m-0">2 days ago</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-100 p-1 align-content-center">
      <h2 class="job-title" style="word-wrap: break-word"><%= job.role %></h2>
    </div>
    <div class="d-flex w-100 p-1 align-content-center">
      <div class="job-date">
        <p class="p-0 m-0"><%= job.salary %></p>
      </div>
    </div>
    <div class="d-flex w-100 p-1 align-content-center flex-wrap">
      <!-- create bootstrap badges -->
      <% if (job.type === 'Full Time') { %>
      <div class="badge-wrapper">
        <div class="badge badge-pill job-badge">Full Time</div>
      </div>
      <% } else { %>
      <div class="badge-wrapper">
        <div class="badge badge-pill job-badge">Part Time</div>
      </div>
      <% } %> <% if (job.type === 'Internship') { %>
      <div class="badge-wrapper">
        <div class="badge badge-pill job-badge">Internship</div>
      </div>
      <% } %> <% if (job.remote === true) { %>
      <div class="badge-wrapper">
        <div class="badge badge-pill job-badge">Remote</div>
      </div>
      <% } %> <% for (let i = 0; i < job.req_skills.length; i++) { %>
      <div class="badge-wrapper">
        <div class="badge badge-pill job-badge"><%= job.req_skills[i] %></div>
      </div>
      <% } %>
    </div>

    <div class="d-flex w-100 p-1 align-content-center flex-wrap">
      <div class="job-description">
        <p class="p-1 m-0" style="word-wrap: break-word">
          <%= job.description %>
        </p>
      </div>
    </div>
    <div class="empty-el"></div>
    <div class="d-flex w-100 p-1 align-content-center flex-wrap">
      <div class="job-buttons">
        <button class="job-apply">Apply</button>
      </div>
      <div class="job-buttons">
        <button class="job-contacts">Contact</button>
      </div>
    </div>
  </div>
</div>
