<!DOCTYPE html>
<html lang="en">
<%- include('../partials/Header.ejs', filename="room" ) %>

  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-twilight.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="/js/simplepeer.min.js"></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
      var user = {
        name: "<%= userName %>",
        email: "<%= userEmail %>",
      };
      console.log(user)
    </script>
  </head>

  <body>
    <div class="header">
        <h4 id="userIdHeader">Video Chat</h4>
    </div>
    <div class="main">
      <%- include('../partials/Navbar.ejs', active="interview" ) %>
        <div class="main__left pl-5">
          <div class="codearea">
            <div class="editor hljs language-js"></div>
            <div class="editor output codejar-wrap"></div>
          </div>
          <script type="module" id="code">
            import { CodeJar } from "https://medv.io/codejar/codejar.js"
            import { withLineNumbers } from 'https://medv.io/codejar/linenumbers.js'
            let options = {
              tab: ' '.repeat(4),
              indentOn: /[(\[]$/, 
            }
            const jar = new CodeJar(
              document.querySelector(".editor"),
              withLineNumbers(Prism.highlightElement),
              options
            )
          </script>
          <div class="videos__group">
            <div id="video-grid">
              <video id="localVideo" autoplay muted></video>
              <video id="remoteVideo" autoplay></video>
            </div>
          </div>
          <div class="options">
            <div class="options__left">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <button onclick="startVideo()" id="stopVideo" class="options__button">
                <i class="fa fa-video-camera int-icon" style="margin-top: 70px;"></i>
              </button>
              <button onclick="toggleMute()" id="muteButton" class="options__button">
                <i class="fa fa-microphone int-icon" style="margin-top: 70px;"></i>
              </button>

            </div>
            <button type="button" class="btn btn-danger" style="margin-left: 40%;"><a href="/home"><i
                  class="fa-solid fa-phone-slash" style="color: white"></i></a></button>
            <div class="options__right">
              <div id="inviteButton" class="options__button">
                <i class="fas fa-user-plus int-icon"></i>
              </div>

            </div>
          </div>
        </div>
        <div class="main__right">
          <div class="main__chat_window">
            <div class="messages">
            </div>
          </div>
          <form>
            <div class="main__message_container">
              <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here...">
              <button id="send" class="options__button" type="submit">
                <i class="fa fa-plus int-icon" aria-hidden="true" style="margin-top: 70px;"></i>
              </button>
              </button>
            </div>
          </form>
        </div>
    </div>
  </body>
  <script src="/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

</html>